<div class="create-polygon">
    <div class="header">Create polygon</div>
    <div class="create-points">
        <button id="create-points">Create points</button>
        <div class="create-points-hint create-points-hint--invalid">Created 0 points</div>
    </div>
    <button disabled id="draw-polygon">Draw polygon</button>
</div>
<div class="create-path">
    <div class="header">Create path</div>
    <div class="first-point">
        <button disabled id="first-point">First point</button>
        <div class="first-point-hint"></div>
    </div>
    <div class="second-point">
        <button disabled id="second-point">Second point</button>
        <div class="second-point-hint"></div>
    </div>
    <button disabled id="clockwise-order">Clockwise order</button>
    <button disabled id="clear">Clear</button>

    <div class="path-container">
        Path: <span class="path"></span>
    </div>
</div>